@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
body {
	@apply text-gray-200 bg-primary;
}

:root {
	--shiki-color-text: #d1d1d1;
	--shiki-token-constant: #79b8ff;
	--shiki-token-string: #ffab70;
	--shiki-token-comment: #6b737c;
	--shiki-token-keyword: #f97583;
	--shiki-token-parameter: #ff9800;
	--shiki-token-function: #b392f0;
	--shiki-token-string-expression: #4bb74a;
	--shiki-token-punctuation: #bbbbbb;
	--shiki-token-link: #ffab70;
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 0.9;
	}
	50% {
		opacity: 0.4;
	}
}

/* @keyframes waves {
	0%,
	100% {
		transform: translate(0px, 0px);
	}

	25% {
		transform: translate3d(6px, 4px, 0);
	}

	50% {
		transform: translate3d(10px, 12px, 0);
	}

	75% {
		transform: translate3d(5px, 7px, 0);
	}
} */

.animate-waves {
	animation: waves 14s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-twinkle {
	animation: twinkle 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
