@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-900 text-gray-200;
}

:root {
	--shiki-color-text: #d1d1d1;
	--shiki-token-constant: #79b8ff;
	--shiki-token-string: #ffab70;
	--shiki-token-comment: #6b737c;
	--shiki-token-keyword: #f97583;
	--shiki-token-parameter: #ff9800;
	--shiki-token-function: #b392f0;
	--shiki-token-string-expression: #4bb74a;
	--shiki-token-punctuation: #bbbbbb;
	--shiki-token-link: #ffab70;
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 0.9;
	}
	50% {
		opacity: 0.4;
	}
}

.animate-twinkle {
	animation: twinkle 10s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
